* {
  margin: 0;
  padding: 0;
  text-align: center;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

body {
  color: #22222c;
  font-family: "Saira Condensed", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1432071315934-33a387ee0437?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d70f20b108c95f729648d41a30a9fcf&auto=format&fit=crop&w=3300&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.site-wrapper {
  max-width: 1000px;
  min-width: 300px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 200px -webkit-max-content max-content;
  grid-template-rows: 300px 200px max-content max-content;
  grid-template-areas: "header" "search" "current" "forecast" "footer";
}

@media (max-width: 640px) {
  .site-wrapper {
    grid-template-rows: 100px auto -webkit-max-content max-content;
    grid-template-rows: 100px auto max-content max-content;
    grid-template-areas: "search" "header" "current" "forecast" "footer";
  }
}

.header {
  grid-area: header;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 20px;
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromTop;
          animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 80px;
}

@media (max-width: 640px) {
  .title {
    font-size: 48px;
  }
}

#city {
  grid-area: city;
  font-family: "Lobster", cursive;
  font-size: 24px;
  color: white;
}

@media (max-width: 640px) {
  #city {
    font-size: 16px;
  }
}

.search-box {
  -webkit-animation: 0.5s pulse;
          animation: 0.5s pulse;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.search-box:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-box input {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  border: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -webkit-appearance: none;
}

.search-box input:first-of-type {
  border-radius: 25px 0 0 25px;
}

.search-box input:last-of-type {
  border-radius: 0 25px 25px 0;
}

.search-box input::-webkit-input-placeholder {
  color: gray;
}

.search-box input:hover {
  background-color: rgba(79, 202, 126, 0.7);
}

.footer {
  grid-area: footer;
}

.footer span {
  color: white;
  font-size: 10.66667px;
}

.current-day,
.forecast-wrapper {
  -webkit-animation: 1s ease fadeIn;
          animation: 1s ease fadeIn;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

@supports (-webkit-backdrop-filter: blur()) {
  .current-day,
  .forecast-wrapper {
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.forecast-wrapper {
  grid-area: forecast;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
  .forecast-wrapper {
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .forecast-wrapper {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .forecast-wrapper {
    grid-template: repeat(6, 1fr)/1fr;
  }
}

.current-day {
  grid-area: current;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
}

.current-day .date {
  display: none;
}

.current-day .conditions {
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 640px) {
  .current-day .conditions {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .current-day .conditions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}

@media (max-width: 480px) {
  .current-day .conditions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.current-day .conditions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.current-day .misc {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

@media (max-width: 1024px) {
  .current-day .misc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.current-day .misc * {
  text-align: left;
  padding: 0 10px;
}

@media (max-width: 640px) {
  .current-day .icon {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-height: 64px;
  }
}

.forecast-day {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.forecast-day .conditions {
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.forecast-day .temp {
  font-size: 48px;
}

.forecast-day .misc {
  font-size: 13.33333px;
}

.icon {
  -o-object-fit: contain;
     object-fit: contain;
}

.sunrise,
.sunset {
  display: none;
}
