@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-webkit-input-placeholder {
  color: gray;
}

form {
  width: 100%;
  height: 100%;
}

.search-box {
  z-index: 2;
  grid-area: search;
  max-width: 400px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (min-width: 1025px) {
  .search-box:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

@media (max-width: 1024px) {
  .search-box {
    -webkit-animation: 0.5s pulse;
            animation: 0.5s pulse;
  }
}

@media (max-width: 640px) {
  .search-box {
    -webkit-animation: 0.5s slideInFromBottom;
            animation: 0.5s slideInFromBottom;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    margin: 0;
    max-width: inherit;
    background-color: rgba(34, 34, 44, 0.9);
  }
}

.search-box .button {
  font-size: 24px;
}

.search-box .button.search {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-radius: 25px 0 0 25px;
  font-family: "Saira Condensed", sans-serif;
}

.search-box .button.submit {
  border-radius: 0 25px 25px 0;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.search-box .button.location {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

@media (min-width: 1025px) {
  .search-box .button:hover {
    background-color: rgba(79, 202, 126, 0.7);
  }
}

@media (max-width: 640px) {
  .search-box .button {
    font-size: 16px;
    color: white;
  }
}

.current-day,
.forecast-wrapper {
  -webkit-animation: 1s ease fadeIn;
          animation: 1s ease fadeIn;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

@supports (-webkit-backdrop-filter: blur()) {
  .current-day,
  .forecast-wrapper {
    -webkit-backdrop-filter: blur(5px);
  }
}

@media (max-width: 320px) {
  .current-day,
  .forecast-wrapper {
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.forecast-wrapper {
  grid-area: forecast;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1024px) {
  .forecast-wrapper {
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .forecast-wrapper {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .forecast-wrapper {
    grid-template: repeat(6, 1fr)/1fr;
  }
}

.current-day .icon,
.forecast-day .icon {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.current-day .temp,
.forecast-day .temp {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.current-day .conditions,
.forecast-day .conditions {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.current-day .sunrise,
.current-day .sunset,
.forecast-day .sunrise,
.forecast-day .sunset {
  display: none;
}

.current-day .day,
.forecast-day .day {
  font-family: "Lobster", cursive;
  margin: 10px;
}

.current-day .misc,
.forecast-day .misc {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.current-day .misc *,
.forecast-day .misc * {
  padding: 0 10px;
}

.current-day {
  grid-area: current;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.current-day .day {
  display: none;
}

.current-day .conditions {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.current-day .misc {
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.current-day .misc * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: left;
}

@media (max-width: 1024px) {
  .current-day .misc {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .current-day .misc * {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .current-day .temp {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 640px) {
  .current-day .conditions {
    font-size: 24px;
  }
  .current-day .icon {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    max-height: 64px;
  }
  .current-day .temp {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .current-day .misc * {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 640px) and (max-width: 480px) {
  .current-day .misc * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.forecast-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forecast-day .conditions {
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.forecast-day .temp {
  font-size: 32px;
  -ms-flex-item-align: center;
      align-self: center;
}

.forecast-day .misc {
  font-size: 13.33333px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1024px) {
  .forecast-day {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .forecast-day .day,
  .forecast-day .misc,
  .forecast-day .conditions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .forecast-day .misc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .forecast-day .misc * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 480px) {
  .forecast-day .misc * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 320px) {
  .forecast-day .misc * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.hide {
  display: none;
}

body {
  color: #22222c;
  font-family: "Saira Condensed", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1432071315934-33a387ee0437?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d70f20b108c95f729648d41a30a9fcf&auto=format&fit=crop&w=3300&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-wrapper {
  max-width: 1000px;
  min-width: 300px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 200px -webkit-max-content max-content;
  grid-template-rows: 300px 200px max-content max-content;
  grid-template-areas: "header" "search" "current" "forecast" "footer";
}

@media (max-width: 640px) {
  .site-wrapper {
    grid-template-rows: auto 100px -webkit-max-content max-content;
    grid-template-rows: auto 100px max-content max-content;
    grid-template-areas: "search" "header" "current" "forecast" "footer";
    grid-gap: 10px;
    padding-bottom: 70px;
  }
}

.header {
  grid-area: header;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 20px;
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromTop;
          animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.header .title {
  font-family: "Lobster", cursive;
  font-size: 80px;
  text-shadow: 1px 1px 1px white;
}

@media (max-width: 640px) {
  .header .title {
    font-size: 32px;
  }
}

.header #city {
  text-shadow: 1px 1px 0px #22222c;
  grid-area: city;
  font-family: "Lobster", cursive;
  font-size: 24px;
  color: white;
}

@media (max-width: 640px) {
  .header #city {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .header #city {
    font-size: 13.33333px;
  }
}

.footer {
  line-height: 1;
  grid-area: footer;
  -webkit-animation: 0.5s slideInFromBottom;
          animation: 0.5s slideInFromBottom;
}

.footer span {
  color: white;
  font-size: 10.66667px;
}

@media (max-width: 640px) {
  .footer span {
    font-size: 8px;
  }
}
