* {
  margin: 0;
  padding: 0;
  text-align: center;
}

input {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
input::-webkit-input-placeholder {
  color: gray;
}
.search-box {
  -webkit-appearance: none;
}
form {
  width: 100%;
  height: 100%;
}
