@import "variables";
@import "mixins";
@import "animations";
@import "reset";
@import "nav";
@import "forecasts";

body {
  color: $fc-main;
  font-family: $ff-main;
  background-image: url("https://images.unsplash.com/photo-1432071315934-33a387ee0437?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d70f20b108c95f729648d41a30a9fcf&auto=format&fit=crop&w=3300&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-wrapper {
  max-width: 1000px;
  min-width: 300px;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 200px max-content max-content;
  grid-template-areas:
    "header"
    "search"
    "current"
    "forecast"
    "footer";
  @include breakpoint(phablet) {
    grid-template-rows: auto 100px max-content max-content;
    grid-template-areas:
      "search"
      "header"
      "current"
      "forecast"
      "footer";
    grid-gap: 10px;
  }
  @include breakpoint(smartphone) {
  }
}

.header {
  grid-area: header;
  align-self: flex-end;
  margin: 0 20px;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
  .title {
    font-family: $ff-headline;
    font-size: $fz-massive;
    text-shadow: 1px 1px 1px $fc-second;

    @include breakpoint(phablet) {
      font-size: $fz-huge;
    }
  }
  #city {
    text-shadow: 1px 1px 0px $fc-main;
    grid-area: city;
    font-family: $ff-headline;
    font-size: $fz-big;
    color: $fc-second;
    @include breakpoint(phablet) {
      font-size: $fz-normal;
    }
    @include breakpoint(dumbphone) {
      font-size: $fz-small;
    }
  }
}

.footer {
  grid-area: footer;
  animation: 0.5s slideInFromBottom;

  span {
    color: $fc-second;
    font-size: $fz-tiny;
    @include breakpoint(phablet) {
      font-size: $fz-minimal;
    }
  }
}
